@import './node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import './node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import './node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import './node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import './node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss';
@import './fonts.scss';
* {
  font-family: "FreightSans Pro", "Comic Sans MS";
}
p {
  font-family: "Adelle PE", "Comic Sans MS";
}
h1 {
  font-family: "FreightSans Pro";
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1em;
}
.no-padding {
  padding: 0;
}
header {
  position: relative;
  background: lightblue;
  margin-bottom: -6rem;
  z-index: -1;
  .grid-container {
    height: 612px;
    display: grid;
    align-items: center;
  }
  .heading {
    max-width: 180px;
  }
  img {
    border-left: 2rem solid white;
    height: 612px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 65%;
    object-fit: cover;
  }
  @media (max-width: 768px) {
    .grid-container {
      display: none;
    }
    img {
      border: none;
      position: relative;
      max-width: 100%;
    }
  }
}
header .icon,
main .icon {
  width: 96px;
  height: 80px;
  background: black;
}
main.container {
  padding: 5rem 5rem 0;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2rem;
  .mobile-heading {
    display: none;
  }
  aside {
    width: 400px;
    padding: 2em;
    font-size: 28px;
    background: lightgray;
  }
}

@media (max-width: 1024px) {
  main.container {
    display: block;
    padding: 2rem 2rem 0;

    aside {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  main.container .mobile-heading {
    display: block;
  }
}
.btn.btn-primary {
  position: relative;
  padding-right: 2em;
}
.btn.btn-primary::after {
  position: absolute;
  content: url("/images/double-arrows.svg");
  right: 5px;
  width: 20px;
  height: 20px;
  svg {
    fill: white;
  }
}

/*******************************************

  OUR GRANTMAKING

********************************************/

.four-squares {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px;
  gap: 1rem;

  .four-squares-card {
    padding: 2em;
    overflow: hidden;
    width: 300px;
    height: 270px;
    border: 8px red solid;
    position: relative;
    .title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 1em;
    }
    .summary {
      font-size: 12px;
      margin-bottom: 1em;
    }
    a.learn-more {
      color: red;
      position: relative;
      &::after {
        position: absolute;
        right: 0;
        display: block;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        content: "\f101";
        font-size: 14px;
        color: red;
        bottom: -4px;
        right: -18px;
        transition: right 250ms ease-out;
      }
      &:hover::after {
        right: -24px;
      }
    }
  }
  .four-squares-card::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background: red;
    display: block;
    border-radius: 50px;
    // transition: transform 220ms ease-out;
  }
  .four-squares-card:hover::after {
    // transform: scale(1.2);
    animation: scaling 500ms ease-in-out 1;
  }
  @keyframes scaling {
    0% {
      transform: scale(1.0);
    }
    50% {
      transform: scale(1.2);
    }
    to {
      transform: scale(1.0);
    }
  }
  .four-squares-card:nth-child(1) {
    &::after {
      bottom: -58px;
      right: -58px;
    }
  }
  .four-squares-card:nth-child(2) {
    border-color: green;
    &::after {
      bottom: -58px;
      left: -58px;
      background: green;
    }
  }
  .four-squares-card:nth-child(3) {
    border-color: blue;
    &::after {
      top: -58px;
      right: -58px;
      background: blue;
    }
  }
  .four-squares-card:nth-child(4) {
    border-color: orange;
    &::after {
      top: -58px;
      left: -58px;
      background: orange;
      
    }
    
  }
}
@media (max-width: 768px) {
  .four-squares {
    grid-template-columns: 300px;
    .four-squares-card::after {
      display: none;
    }
  }
}

